.bg-image{
    /* Add the blur effect */
 filter: blur(8px);
 -webkit-filter: blur(8px);
 }

 .carousel-item {
 height: 100vh;
 min-height: 350px;
 background: no-repeat center center scroll;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 background-attachment: fixed;
}

/*******************************************
   Services
**********************************************/
.flip-card {
 background-color: transparent;
    width: 80%;
    height: 300px;
 padding:15px;
}

.flip-card-inner {
 position: relative;
 width: 100%;
 height: 100%;
 text-align: center;
 transition: transform 0.6s;
 transform-style: preserve-3d;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
 transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
 position: absolute;
 width: 100%;
 height: 100%;
 backface-visibility: hidden;
}

.flip-card-front {
 background-color: #bbb;
 color: black;
}

.flip-card-back {
 background-color: #2980b9;
 color: white;
 transform: rotateY(180deg);
}

.serve{
 background-color: aliceblue;
}

.counter {
    background-color:#f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}

/******************
Navbar
******************/

nav{
    background-color: rgba(0,0,0,0.2);
    font-size: 20px;
}

/********************
        Charts
********************/

#charts{   
    background: black;
}

.s_heading{
    padding: 15px;
    color : rgb(255, 255, 255);
    font-size:30px;
}

.s_text{
    padding: 15px;
    font-size: 20px;    
    color: rgb(218, 218, 161);
}

#canvas{
    padding: 20px;
}